.container {
  display: flex;
  flex-direction: column;
  position: relative;

  &_display-none.container_display-none {
    display: none;
  }

  &_row {
    flex-direction: row;
  }

  &_justify-content {
    &_space-between {
      justify-content: space-between;
    }
    &_space-evenly {
      justify-content: space-evenly;
    }
    &_flex-end {
      justify-content: flex-end;
    }
  }

  &_align-items {
    &_flex-start {
      align-items: flex-start;
    }
    &_center {
      align-items: center;
    }
  }

  &_column-gap {
    &1 {
      column-gap: 1.66rem;
    }
    &2 {
      column-gap: 3.68rem;
    }
    &3 {
      column-gap: 10.2rem;
    }
    &4 {
      column-gap: 1rem;
    }
    &5 {
      column-gap: 1.45rem;
    }
    &6 {
      column-gap: 3rem;
    }
  }

  &_row-gap {
    &1 {
      row-gap: 1.2rem;
    }
    &2 {
      row-gap: 1.66rem;
    }
    &3 {
      row-gap: 1.45rem;
    }
  }

  &_flex {
    &-grow {
      &1 {
        flex-grow: 1;
      }
    }

    &-wrap {
      &1 {
        flex-wrap: wrap;
      }
    }
  }

  &_grid {
    &1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1.66rem;
    }
    &2 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1.66rem;
    }
    &3 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 1.66rem;
    }
    &4 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1.13rem;
    }
    &5 {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &_width {
    &1 {
      width: 66.25rem;
      flex-shrink: 0;
    }
    &2 {
      width: 20.97rem;
      flex-shrink: 0;
    }
    &3 {
      max-width: 27rem;
    }
    &4 {
      min-width: 10.41rem;
    }
    &5 {
      width: 19.5rem;
    }
    &6 {
      width: 43.7rem;
      flex-shrink: 0;
    }
    &7 {
      width: 23.4rem;
    }
    &8 {
      width: 7.56rem;
    }
    &9 {
      width: 48.88rem;
    }
    &10 {
      width: 43.47rem;
    }
    &11 {
      width: 88.5rem;
    }
    &12 {
      width: 75.62rem;
    }
    &13 {
      width: 63rem;
    }
    &14 {
      width: 36.31rem;
      flex-shrink: 0;
    }
    &15 {
      width: 66rem;
    }
  }

  &_height {
    &1 {
      height: 3.33rem;
    }
    &2 {
      min-height: 42.22rem;
    }
  }

  &_margin {
    &1 {
      margin: 1.9rem 0 0;
    }
    &2 {
      margin: 1.2rem 0 0;
    }
    &3 {
      margin: 1.66rem 0 0;
    }
    &4 {
      margin: 0 0 0 1.45rem;
    }
    &5 {
      margin: 2.6rem 0 0;
    }
    &6 {
      margin: 1.94rem 0 0;
    }
    &7 {
      margin: auto 0 0;
    }
    &8 {
      margin: 2.3rem 0 1.1rem;
    }
    &9 {
      margin: 1.5rem 0 0;
    }
    &10 {
      margin: 3.19rem 0 0;
    }
    &11 {
      margin: 0.6rem 0 0;
    }
    &12 {
      margin: 3.54rem 0 0;
    }
    &13 {
      margin: -1px -1px 0 0;
    }
    &14 {
      margin: 2.2rem 0 0;
    }
    &15 {
      margin: 0 -5.5rem;
    }
    &16 {
      margin: 1.6rem auto 0;
    }
    &17 {
      margin: 3rem auto 0;
    }
    &18 {
      margin: 8rem auto 0;
    }
    &19 {
      margin: 5.4rem auto 0;
    }
    &20 {
      margin: 6.5rem -5.5rem 0;
    }
    &21 {
      margin: 6.7rem auto 0;
    }
    &22 {
      margin: 7.4rem auto 0;
    }
    &23 {
      margin: 1rem 0 -1rem;
    }
    &24 {
      margin: 4rem auto 0;
    }
    &25 {
      margin: 4rem 0 0;
    }
  }

  &_padding {
    &1 {
      padding: 2.9rem 1.66rem 2.9rem 0;
    }
    &2 {
      padding: 1.5rem 1.45rem 0;
    }
    &3 {
      padding: 2.4rem 0 2rem;
    }
    &4 {
      padding: 1.1rem 1.45rem 1.6rem;
    }
    &5 {
      padding: 1.1rem 0 1.6rem;
    }
    &6 {
      padding: 2.9rem 1.7rem 0;
    }
    &7 {
      padding: 2.3rem 1.66rem 0;
    }
    &8 {
      padding: 0 0 3.19rem;
    }
    &9 {
      padding: 0 1rem;
    }
    &10 {
      padding: 0.9rem 1.45rem 0.83rem;
    }
    &11 {
      padding: 0 0 3.4rem;
    }
    &12 {
      padding: 2.9rem 0;
    }
    &13 {
      padding: 2.4rem 0 2rem;
    }
    &14 {
      padding: 0 0 0 2rem;
    }
    &15 {
      padding: 1.38rem 1.45rem 1.45rem;
    }
    &16 {
      padding: 0.5rem 0 0;
    }
    &17 {
      padding: 1.55rem 1.45rem;
    }
    &18 {
      padding: 9rem 2.4rem 0;
    }
    &19 {
      padding: 5.4rem 0 0;
    }
    &20 {
      padding: 0 0 7rem;
    }
    &21 {
      padding: 2.2rem 3.7rem 4.5rem;
    }
    &22 {
      padding: 0.83rem 0;
    }
  }

  &_border {
    &1 {
      border-width: 1px 0;
      border-style: solid;
      border-color: var(--color3);
    }
    &2 {
      border-width: 1px 1px 0 1px;
      border-style: solid;
      border-color: var(--color2);
    }
    &3 {
      border: 1px solid var(--color2);
    }
    &4 {
      border-bottom: 1px solid var(--color2);
    }
    &5 {
      border-right: 1px solid var(--color2);
    }
    &6 {
      border-width: 1px 1px 1px 0;
      border-style: solid;
      border-color: var(--color2);
    }
    &7 {
      border-width: 1px 0;
      border-style: solid;
      border-color: var(--color2);
    }
    &8 {
      border-width: 0 1px 1px 1px;
      border-style: solid;
      border-color: var(--color2);
    }
    &9 {
      border-top: 1px solid var(--color2);
    }
    &10 {
      border-top: 1px solid var(--color3);
    }
  }

  &_background {
    &-color {
      &1 {
        background-color: var(--color5);
      }
      &2 {
        background-color: var(--color1);
      }
      &3 {
        background-color: var(--color9);
      }
      &4 {
        background-color: var(--color11);
      }
      &5 {
        background: linear-gradient(to bottom, var(--color5) 50%, white 0%);
      }
      &6 {
        background-color: var(--color5);
      }
      &7 {
        background: linear-gradient(to bottom,#fff 25rem,var(--color12) 0);
      }
      &8 {
        background-color: var(--color13);
      }
      &9 {
        background: linear-gradient(to bottom,#fff 27.4rem,var(--color12) 0);
      }
      &10 {
        background-color: var(--color12);
      }
    }
    &-image {
      &1::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url(img/icon/ic4.svg);
        background-repeat: no-repeat;
        background-size: 4rem;
        background-position: center;
      }
      &2::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url(img/icon/ic4.svg);
        background-repeat: no-repeat;
        background-size: 2.7rem;
        background-position: center;
      }
      &3::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url(img/icon/ic4.svg);
        background-repeat: no-repeat;
        background-size: 4.7rem;
        background-position: center;
      }
    }
  }

  &_after {
    &1::after {
      content: "";
      position: absolute;
      top: 0.3rem;
      bottom: 0.3rem;
      left: 0;
      width: 0.27rem;
      background-color: var(--color1);
    }
  }

  &_position {
    &1 {
      position: absolute;
      top: 24.5rem;
      left: 33.1rem;
      z-index: 10;
    }
    &2 {
      position: absolute;
      top: 0;
      left: 33.1rem;
      z-index: 10;
    }
    &3 {
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1000;
    }
  }

  &_cursor {
    &-pointer {
      cursor: pointer;
      transition: 0.4s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
