.img {
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
  position: relative;

  &_margin {
    &1 {
      margin: 1rem 0 0;
    }
    &2 {
      margin: 1.66rem 0 0;
    }
    &3 {
      margin: 0 0 1.1rem;
    }
    &4 {
      margin: 0.3rem 0 0;
    }
    &5 {
      margin: 2rem 0 0;
    }
    &6 {
      margin: 0 0 0 0.8rem;
    }
    &7 {
      margin: 3.5rem 0 0;
    }
  }

  &_size {
    &1 {
      width: 20.97rem;
      height: 15.62rem;
    }
    &2 {
      width: 2.15rem;
      height: 2.15rem;
    }
    &3 {
      width: 20.97rem;
      height: 32.98rem;
    }
    &4 {
      width: 2.5rem;
      height: 2.5rem;
    }
    &5 {
      // width: 1.94rem;
      height: 1.94rem;
    }
    &6 {
      width: 2.08rem;
      height: 2.08rem;
    }
    &7 {
      width: 2.96rem;
      height: 3.81rem;
    }
    &8 {
      // width: 2.76rem;
      height: 2.76rem;
    }
    &9 {
      // width: 2.25rem;
      height: 2.25rem;
    }
  }

  &_width {
    &1 {
      width: 13.12rem;
    }
    &2 {
      width: 1.9rem;
    }
    &3 {
      width: 20.97rem;
    }
    &4 {
      width: 1rem;
    }
    &5 {
      width: 2rem;
    }
  }

  &_height {
    &1 {
      height: 10.27rem;
    }
    &2 {
      min-height: 33.54rem;
    }
    &3 {
      height: 15.62rem;
    }
    &4 {
      height: 13.47rem;
    }
    &5 {
      height: 15.97rem;
    }
    &6 {
      height: 8.4rem;
    }
    &7 {
      height: 24.51rem;
    }
    &8 {
      height: 6.25rem;
    }
    &9 {
      height: 32.98rem;
    }
    &10 {
      height: 11.78rem;
    }
    &11 {
      height: 28.95rem;
    }
  }
}
