.img {
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
  position: relative;

  &_margin {
    &1 {
      margin: 1rem 0 0;
    }
    &2 {
      margin: 1.66rem 0 0;
    }
    &3 {
      margin: 0 0 1.1rem;
    }
    &4 {
      margin: 0.3rem 0 0;
    }
    &5 {
      margin: 2rem 0 0;
    }
    &6 {
      margin: 0 0 0 0.8rem;
    }
    &7 {
      margin: 3.5rem 0 0;
    }
    &8 {
      margin: -1px 0 0 -1px;
    }
    &9 {
      margin: 0 0 0 auto;
    }
    &10 {
      margin: 6.6rem auto 0;
    }
  }

  &_size {
    &1 {
      width: 20.97rem;
      height: 15.62rem;
    }
    &2 {
      width: 2.15rem;
      height: 2.15rem;
    }
    &3 {
      width: 20.97rem;
      height: 32.98rem;
    }
    &4 {
      width: 2.5rem;
      height: 2.5rem;
    }
    &5 {
      height: 1.94rem;
    }
    &6 {
      width: 2.08rem;
      height: 2.08rem;
    }
    &7 {
      width: 2.96rem;
      height: 3.81rem;
    }
    &8 {
      height: 2.76rem;
    }
    &9 {
      height: 2.25rem;
      width: auto;
    }
    &10 {
      width: 10.41rem;
      height: 7.77rem;
    }
    &11 {
      width: 48.88rem;
      height: 32.7rem;
    }
    &12 {
      width: 1.4rem;
      height: 1.4rem;
    }
    &13 {
      width: 55.97rem;
      height: 41.73rem;
    }
    &14 {
      width: 31.7rem;
      height: 17.8rem;
    }
    &15 {
      width: 75.62rem;
      height: 42.08rem;
    }
    &16 {
      height: 2.55rem;
      width: auto;
    }
  }

  &_width {
    &1 {
      width: 13.12rem;
    }
    &2 {
      width: 1.9rem;
    }
    &3 {
      width: 20.97rem;
    }
    &4 {
      width: 1rem;
    }
    &5 {
      width: 2rem;
    }
    &6 {
      width: 0.5rem;
    }
  }

  &_height {
    &1 {
      height: 10.27rem;
    }
    &2 {
      min-height: 33.54rem;
    }
    &3 {
      height: 15.62rem;
    }
    &4 {
      height: 13.47rem;
    }
    &5 {
      height: 15.97rem;
    }
    &6 {
      height: 8.4rem;
    }
    &7 {
      height: 24.51rem;
    }
    &8 {
      height: 6.25rem;
    }
    &9 {
      height: 32.98rem;
    }
    &10 {
      height: 11.78rem;
    }
    &11 {
      height: 28.95rem;
    }
    &12 {
      height: 42rem;
    }
    &13 {
      height: 28.26rem;
    }
    &14 {
      height: 24.29rem;
    }
    &15 {
      height: 22.84rem;
    }
  }

  &_position {
    &1 {
      position: absolute;
      left: 40.3rem;
      top: 4.7rem;
      z-index: 10;
    }
    &2 {
      position: absolute;
      top: 2.2rem;
      left: 85rem;
      z-index: 10;
    }
  }

  &_hover {
    &1:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
